 <div flex-xs flex-gt-xs="100" layout="column" ng-controller="pedidoProdutoController">
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <span class="md-title font-25">Pedido #{{pedido.id}}</span>
            <md-divider></md-divider>
            <div class="md-subhead padding-top-15" layout="row">
                <div class="flex font-15">
                    <md-badge ng-class="md-warn"> <i class="fa fa-user"></i> {{pedido.cliente.nome}}</md-badge>
                    <md-badge ng-class="md-warn"> <i class="fa fa-envelope"></i> {{pedido.cliente.email}}</md-badge>
                    <md-badge ng-class="md-warn"> <i class="fa fa-phone"></i> ({{pedido.cliente.foneDdd}}) {{pedido.cliente.foneNumero}}</md-badge>
                </div>
                <div class="flex" layout="column" layout-align="center end">
                    <label>Valor total</label>
                    <span class="price">{{pedido.valorTotal | currency : "R$ "}}</span>
                </div>
            </div>
          </md-card-header-text>
        </md-card-header>
        <md-toolbar md-scroll-shrink md-whiteframe >
            <div class="md-toolbar-tools">
                <div layout="column" layout-align="start start" flex>
                    <span><i class="fa fa-cube"></i> Produtos Adicionados</span>
                </div>
            </div>
        </md-toolbar>
        <md-content class="padding-top-20" ng-if="pedido.produtos == null || pedido.produtos.length < 1">
            <div layout="row" layout-align="center center" flex>
            <div class="font-grey" layout="row" layout-align="center center">
                <i class="fa fa-question-circle-o fa-3x"></i> 
            </div>
          </div>
          <div class="padding-bottom-30 font-grey" layout="row" layout-align="center center" flex>
            Nenhum produto adicionado ao pedido
          </div>
        </md-content>
        <md-list-item ng-repeat="pedidoProduto in pedido.produtos">
            <p class="padding-left-20" flex="40"> {{ pedidoProduto.nome }} </p>
            <p> {{ pedidoProduto.valorUnitario | currency:"R$ " }} </p>
            <p> {{ pedidoProduto.quantidade }} </p>
            <p> {{ pedidoProduto.valorTotal | currency:"R$ " }} </p>
            <md-button class="md-fab md-danger" ng-click="removerProduto(pedidoProduto.id)">
                <i class="fa fa-times fa-2x"></i>
            </md-button>
        </md-list-item>
        <md-toolbar md-scroll-shrink md-whiteframe >
            <div class="md-toolbar-tools">
                <div layout="column" layout-align="start start" flex>
                    <span><i class="fa fa-plus"></i> Adicione mais produtos</span> 
                </div>
            </div>
        </md-toolbar>
        <md-card-content>
            <div layout="column" ng-repeat="produto in produtos">
                <md-card-content >
                    <md-card md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{produto.nome}}</span>
                                <span class="md-subhead">(Cód. {{produto.id}})</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row">
                            <div flex="50" layout="column">{{produto.descricao}}</div>
                            <div flex="30" layout="column" class="padding-left-70">
                                <label>Valor Unitário</label>
                                <span class="price">{{produto.valorUnitario  | currency : "R$ "}}</span>
                            </div>
                            <div flex="20" layout="column">
                                <md-button class="md-raised md-primary md-ink-ripple" ng-click="adicionarProdutoDialog($event, produto, pedido)"><i class="fa fa-plus"></i> Adicionar</md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-card-content>
            </div>
        </md-card-content>
        <md-card-actions layout-align="end end">
            <div flex layout="row" layout-align="end center" class="padding-right-30 padding-bottom-30">
                <md-button class="md-raised md-success" flex="20" href="#/pedidos"><i class="fa fa-check-circle"></i> Finalizar Pedido</md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>